* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: url('https://i.pinimg.com/originals/82/f3/3c/82f33c83e658969547fbce1afda7c1b5.gif') no-repeat center center fixed;
  background-size: cover;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 19px;
  position: relative;
  overflow: hidden;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  background-size: cover;
  filter: blur(8px);
  z-index: 0;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#app {
  background-color: #e7e4e4;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 480px;
  text-align: center;
  animation: fadeIn 0.5s ease-in-out;
  position: relative;
  z-index: 1;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
}
  button {
    font-size: 1rem;
    padding: 12px 20px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  #fetchNewsBtn {
    font-size: 1rem;
    padding: 13px 40px; 
    background-color: #5c21ff;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  #fetchNewsBtn:hover {
    background-color: #4c1fd1;
    transform: scale(1.05);
  }
  
  button:hover {
    transform: translateY(-2px);
  }
  
  #newsContainer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .news-item {
    background-color: #84b2e0;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .news-item:hover {
    transform: translateY(-5px);
  }
  
  .navigation {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  #prevBtn, #nextBtn {
    background-color: #5c21ff;
    color: #f3f3f3;
    padding: 12px 20px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
  }
  
  #prevBtn:hover, #nextBtn:hover {
    background-color: #1373f1;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  